@font-face {
    font-family: Avenir Roman;
    src: url(Fonts/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: Avenir Book;
    src: url(Fonts/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: Avenir Heavy;
    src: url(Fonts/Avenir\ Heavy.ttf);
}

@font-face {
    font-family: Avenir Light;
    src: url(Fonts/Avenir\ Light.ttf);
}


#homepage .row-1 > h1, #homepage .shopbtn, #homepage .row-7 {
    color: white;
}


#homepage h1, #homepage h2, 
#homepage h3, .p1, .p2, .p3, .newp, 
#homepage .row-7, #homepage h4,
#homepage h4 {
    font-family: Avenir Roman;
}

#homepage .desc > p, #homepage .shopbtn,
#homepage .phoneno, #homepage .emailadr {
    font-family: Avenir Book;
}

#homepage .row-3 > input, #homepage .row-4 > input {
    font-family: Avenir Heavy;
}

#homepage .oldp {
    font-family: Avenir Light;
    text-decoration-line: line-through;
    opacity: 0.5;
}

#homepage h1 {
    font-size: 5em;
    opacity: 0.9;
}

#homepage .shopbtn {
    font-size: 2em;
    opacity: 0.85;
}

#homepage h2 {
    font-size: 3em;
    opacity: 0.95;
}

#homepage .desc > p {
    font-size: 1.2em;
    opacity: 0.95;
}

#homepage .row-3 input, #homepage .row-4 input {
    font-size: 3em;
    opacity: 0.95;
}

#homepage h3 {
    font-size: 3em;
    opacity: 0.95;
}

#homepage h4 {
    font-size: 1.2em;
}

#homepage .row-6 p{
    font-size: 1.1em;
}


#homepage .phoneno p, #homepage .emailadr p {
    font-size: 0.925em;
} 

#homepage form.newsletter input[type=text] {
    font-family: Avenir Book;
}

