@font-face {
    font-family: Avenir Roman;
    src: url(Fonts/AvenirLTStd-Roman.otf);
}


body {
    margin: 0;
    background-color: #EDEDED;
}


.menunav {
    height: 20px;
}


.cartnav {
    height: 28px;
}

#homepage .navbar {
    display: flex;
    justify-content: space-between;
    width: 96%;
    background-color: rgba(0, 0, 0, 0);
    padding: 2%;
}

.search_bar  input {
    opacity: 0.8;
    border-radius: 20px;
    height: 26px;
    width: 20vw;
    min-width: 200px;
    padding-left: 5%;
    padding-top: 2%;
    font-family: Avenir Roman;
    font-size: 1.1em;
}

